body {
    background-color: aquamarine;
}
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.logo {
    width: 100px;
    display: block;
    /* margin: auto; */
}
.navigation {
    /* background-color: rgb(208, 253, 231); */
    /* text-align: center; */
    display: flex;
}
.navigation a {
    padding: 15px;
    text-decoration: none;
    color: black;
}
.banner {
    min-height: 50vh;
    background-color: #cccccc;
    background-image: url('images/israel-andrade-YI_9SivVt_s-unsplash.jpg');
    background-size: cover;
    background-position: center center;
    display: grid;
    place-items: center;
}